.Sidebar{
    width: 200px;
    min-height: 100vh;
    margin-right: 10px;
    background: var(--secondcolor);
    box-shadow: 0 0 10px 0 #555;
    position: sticky;
    top: 0;
    color: white;
    display: flex;
    flex-direction: column;
}
.title{
    color: var(--maincolor);
    font-size: 2rem;
}
h3{
    color: var(--maincolor);
}
.sidebar-wrapper{
    padding: 20px;
    color: var(--whitecolor);
}
ul{
    list-style: none;
}
.sidebarlink{
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    border-radius: 50px;
}
.Sidebar li:hover{
    background: var(--hovercolor);
    border-radius: 10px;
}
.Sidebar .editbtn{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
}
.active{
    background: var(--hovercolor);
    border-radius: 10px;
}
