.Home{
  display: grid;
  
}

main{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}
.content{
    width: 60%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 20px;
    margin-left: 4rem;
    position: relative;
}

.content p{
    margin: -3rem 0 1rem 0;
    width: 80%;
}

.exploremore{
    border: 1px solid black;
    padding: .3rem;
    transition: .6s ease;
    text-align: center;
}
.exploremore:hover{
    background-color: black;
    color: white;
}

.main-mage{
    width: 60%;
    border-radius: 66% 34% 19% 81% / 72% 61% 39% 28%  ;
    overflow: hidden;
    margin: auto;
    aspect-ratio: 1;
}
.main-mage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.products{
width: 100%;
}
.products h1{
  margin: 2rem auto;
  text-align: center;
}
.product-cont{
width: 90%;
min-height: 50vh;
margin: 0 auto;
display: grid;
grid-template-columns: repeat(4,1fr);
gap: 1rem;
}
.product{
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 10px 5px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.productimage{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 15px;
}
.productimage img{
    width: 100%;
    object-fit: cover;
    filter: grayscale(.3);
    transition: all 0.5s ease-in-out;
}
.productimage img:hover{
    transform: scale(1.1);
    filter: grayscale(0);

}


.prodect{
    height: 20rem;
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: .5rem;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    transition: all 1s ease-in-out;
    overflow: hidden;
  }
  .prodect:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  .prodect .img-prodect{
    width: 100%;
    height: 80%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }
  .prodect .img-prodect .prodect-photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:center;
    border-radius: 10px;
    transition: all 1s ease-in-out;
  }
  .prodect  .prodect-photo:hover{
    transform: scale(1.1);
  }
  .prodect .name-prodect{
    width: 100%;
    color: #101010;
    font-size: 1.5rem;
    padding: 0 1rem;
    margin-top: 10px;
  }
  .prodect .price-prodect{
    width: 100%;
    color: #101010;
    font-size: 1.2rem;
    padding: 0 1rem;
    margin-top: 10px;
  }
  .con-buton{
    display: block;
    position: relative;
    bottom: -0.5rem;
    width: 110%;
  }
  .butn-product{

    background-color: black;
    width: 100%;
    height: 2rem;
    color: #fff;
    text-align: center;
    cursor: pointer;
  }


  .title-home{
    width: 100%;
    height: 8rem;
    position: absolute;
    top: -8rem;
    left: -4rem;
    z-index: -1;
    }
    .title-home text {
      animation: stroke 5s infinite alternate;
      stroke-width: 0.1;
      stroke: #000000;
        color: #d2d8ce ;
        font-size: 5rem;
        letter-spacing: 3px;
    }
    @keyframes stroke {
      0%   {
        fill: rgba(72,138,20,0); stroke: rgb(0, 0, 0);
        stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
      }
      70%  {fill: rgba(72,138,20,0); stroke: rgb(0, 0, 0); }
      80%  {fill: rgba(72,138,20,0); stroke: rgb(0, 0, 0); stroke-width: 3; }
      100% {
        fill: rgb(0, 0, 0); stroke: rgba(0, 0, 0, 0); 
        stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
      }
    }

    .small{
      min-height: fit-content;
      padding: 10px 0;
    }
.about-us{
  margin: 1rem 0;
  width: 100%;
  border-radius: 10px;
  text-align: center;
}
.about-us H2{
  margin: 10px 0;
  color: #000;
}


.learn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  background: transparent;
  
  font-size: 1.125rem;
  padding: 0.5em;
  position: relative;
  align-self: start;
  justify-self: start;
}

.learn::after {
  content: "";
  position: absolute;
  background:#d2d8ce;
  height: 0.85em;
  width: 75%;
  left: 0;
  top: 50%;
  z-index: -1;
  transition: transform 175ms cubic-bezier(0.91, 0, 0.55, 1.64);
  transform-origin: bottom left;
}

.learn:hover::after,
.learn:focus::after {
  transform: scale(1.35, 1.85);
}

.services-cont{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  text-align: center;
}
article{
  width: 100%;

}
article .icon{
  font-size: 5rem;
}

.services h2{
  color: #000;
}
.services{
  text-align: center;
}
.by{
  color: white;
}