.chart{
    margin: 20px;
    padding: 20px;
    -webkit-box-shadow: 15px 22px 23px -11px rgba(0,0,0,0.14);
    -moz-box-shadow: 15px 22px 23px -11px rgba(0,0,0,0.14);
    box-shadow: 15px 22px 23px -11px rgba(0,0,0,0.14);
    font-size: 1rem;
}

.chartTitle{
    margin-bottom: 20px;
}
.chart-info{
    font-size: 1rem;
}