.userList{
    flex: 4;
}
.tableContainer{
    display: flex;
    justify-content: center;
}
.table-title{
    margin-bottom: 20px;
}
table{
    width: 100%;
    text-align: center;
}
.edit{
    width: fit-content;
    border: 1px solid #3bb077;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-left: 5px;
    transition: 320ms ease;
}
.edit:hover{
    width: fit-content;
    border: 1px solid green;
    background-color: aliceblue;
    color: #3bb077;
    
}
.delete{
    color:red;
    cursor: pointer;
    margin-left: 5px;
}
.actions{
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img{
    width: 40px;
    height: 40px;
}